name : Secrets Check
on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  security-scan:
    name: Scan for Secrets
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: 2. Run TruffleHog Scan
        uses: trufflesecurity/trufflehog@main
        with:
          base: ${{ github.event.before }}
          head: ${{ github.sha }}
          extra_args: --only-verified